<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  <div class='field'>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
     <div class='field'>
    <%= f.label :date %><br>
    <%= f.number_field :date %>
    <div class='field'>
    <%= f.label :color %><br>
    <%= f.text_field :color %>
    <div class='field'>
    <%= f.label :temperament %><br>
    <%= f.text_field :temperament %>
    <div class='field'>
    <%= f.label :fixed %><br>
    <%= f.text_field :fixed %>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
